<a href="https://colab.research.google.com/github/sheezarainbow9/Notebooks/blob/main/Atividade_01_Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Aluna: Sheeza.

Fuctura - Data Science.

Professora: Camila Dantas.

Atividade 01 - Numpy.

1 - Importe o Numpy.

In [43]:
import numpy as np

2 - Utilize a função range do python para criar automaticamente uma lista de
números variando de 0 até 15.

In [44]:
lista1 = list(range(0, 16))
print(f'Lista 1: {lista1}')

Lista 1: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

3 - Converta a lista criada para um objeto do tipo numpy array.

In [52]:
array1 = np.array(lista1)
print(f'Array1: {array1}')

Array1: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15]

4 - Crie um novo array equivalente ao anterior utilizando diretamente os
recursos do numpy.

In [46]:
array2 = np.arange(16)
print(f'Array2: {array2}')

Array2: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15]

5 - Crie um array de 10 zeros.

In [47]:
array3 = np.zeros(10)
print(f'Array3: {array3}')

Array3: [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

6 - Crie um array de 10 números "um".

In [48]:
array4 = np.ones(10)
print(f'Array4: {array4}')

Array4: [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

7 - Crie um array de 10 números "5".

In [49]:
array5 = np.full(10, 5)
print(f'Array5: {array5}')

Array5: [5 5 5 5 5 5 5 5 5 5]

8 - Crie um array de inteiros de 10 até 50.

In [50]:
array6 = np.arange(10, 51, dtype=int)
print(f'Array6: {array6}')

Array6: [10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50]

9 - Crie uma matriz identidade 3x3.

In [51]:
m = np.ones((3, 3))
m

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])