<a href="https://colab.research.google.com/github/sheezarainbow9/Notebooks/blob/main/Sheeza_MachineLearning_Aula0402.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#np.random.seed(42)
df_logica = pd.DataFrame(np.random.randint(28, size=(100, 1)), columns=['log_acertos'])
df_logica

    log_acertos
0             8
1             6
2            17
3            20
4             3
..          ...
95            1
96           24
97           24
98            5
99            9

[100 rows x 1 columns]

In [ ]:
df_portugues = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['port_acertos'])
df_portugues

    port_acertos
0              5
1             16
2             16
3              4
4              5
..           ...
95            16
96             1
97             9
98            17
99            17

[100 rows x 1 columns]

In [ ]:
df_java = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['java_acertos'])
df_java

    java_acertos
0              7
1              0
2              5
3              7
4              1
..           ...
95             2
96             1
97             5
98             7
99             7

[100 rows x 1 columns]

In [ ]:
df_python = pd.DataFrame(np.random.randint(40, size=(100, 1)), columns=['py_acertos'])
df_python

    py_acertos
0           22
1           24
2           38
3           13
4            5
..         ...
95          35
96          35
97          24
98          32
99           4

[100 rows x 1 columns]

In [ ]:
df_formacao = pd.DataFrame(np.random.randint(2, size=(100, 1)), columns=['formacao'])
df_formacao

    formacao
0          0
1          0
2          1
3          0
4          1
..       ...
95         0
96         1
97         1
98         1
99         0

[100 rows x 1 columns]

In [ ]:
df = pd.concat([df_logica, df_portugues, df_java, df_python, df_formacao], axis = 1)
#O parÃ¢metro axis especifica a direÃ§Ã£o ao longo da qual um mÃ©todo ou funÃ§Ã£o em particular Ã© aplicado num DataFrame.
#O parÃ¢metro eixo=0 representa que a funÃ§Ã£o Ã© aplicada em funÃ§Ã£o da coluna, e axis=1 significa que a funÃ§Ã£o Ã© aplicada em funÃ§Ã£o
#da linha no DataFrame.

In [ ]:
df.head(10)

   log_acertos  port_acertos  java_acertos  py_acertos  formacao
0            8             5             7          22         0
1            6            16             0          24         0
2           17            16             5          38         1
3           20             4             7          13         0
4            3             5             1           5         1
5           18             7             4          21         0
6           11            14             2          11         0
7           27             0             3          13         1
8            3            15             0           6         1
9           11             3             3          12         1

In [ ]:
x = df[['log_acertos', 'port_acertos', 'java_acertos', 'py_acertos']]

In [ ]:
y = df['formacao']

In [ ]:
from sklearn.model_selection import train_test_split
#deixando 25% dos dados para teste:
train_test_split(x, y, test_size = 0.25)

[    log_acertos  port_acertos  java_acertos  py_acertos
 98            5            17             7          32
 81            5             5             4          33
 43            1             2             3          22
 35            0             3             0           0
 3            20             4             7          13
 ..          ...           ...           ...         ...
 86            9            15             2           2
 61           24             4             4          26
 71            4            16             0          30
 34            7             7             6          20
 79            4            16             4          12

 [75 rows x 4 columns],     log_acertos  port_acertos  java_acertos  py_acertos
 65           20             1             3           6
 4             3             5             1           5
 27           25             2             3           8
 78           21            10             2          33
 7            27             0             3          13
 77           23            10             7          32
 68           24             9             0          39
 51           26             7             6           1
 0             8             5             7          22
 26           13             2             0           9
 10           13             1             3          36
 16           21             7             6          27
 6            11            14             2          11
 49           10             1             0          38
 56           24            13             4          20
 52            6             1             0          20
 19           19             3             3           6
 84           10            14             2          17
 2            17            16             5          38
 91           26             8             6          25
 25            8             0             4          35
 5            18             7             4          21
 21           14            16             0          38
 42            3            17             5           6
 96           24             1             1          35, 98    1
 81    0
 43    1
 35    0
 3     0
      ..
 86    1
 61    1
 71    0
 34    0
 79    1
 Name: formacao, Length: 75, dtype: int64, 65    0
 4     1
 27    0
 78    1
 7     1
 77    0
 68    0
 51    1
 0     0
 26    1
 10    1
 16    1
 6     0
 49    1
 56    1
 52    1
 19    1
 84    0
 2     1
 91    1
 25    1
 5     0
 21    1
 42    1
 96    1
 Name: formacao, dtype: int64]

In [ ]:
from sklearn.model_selection import train_test_split
#tamanhos:
treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, test_size = 0.25)
print(treino_x.shape)
print(teste_x.shape)

(75, 4)
(25, 4)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, test_size = 0.25)
print('Treinaremos com %d elementos e testaremos com %d elementos.' % (len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

#A acurÃ¡cia varia porquÃª estÃ¡ randomizada:
acuracia = accuracy_score(teste_y, previsoes) * 100
print('A acurÃ¡cia foi %.1f%%.' % acuracia)

Treinaremos com 75 elementos e testaremos com 25 elementos.
A acurÃ¡cia foi 32.0%.

/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:1208: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  ConvergenceWarning,

Precisamos de um teste replicÃ¡vel, por isso, vamos conhecer o SEED. Ã‰ uma definiÃ§Ã£o importante para que nosso teste seja replicÃ¡vel. Faz com que a escolha dos dados nÃ£o seja tÃ£o aleatÃ³ria:

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, random_state = SEED, test_size = 0.25)
print('Treinaremos com %d elementos e testaremos com %d elementos.' % (len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

#A acurÃ¡cia varia porquÃª estÃ¡ randomizada:
acuracia = accuracy_score(teste_y, previsoes) * 100
print('A acurÃ¡cia foi %.1f%%.' % acuracia)

Treinaremos com 75 elementos e testaremos com 25 elementos.
A acurÃ¡cia foi 56.0%.

/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:1208: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  ConvergenceWarning,

In [ ]:
treino_y.value_counts()

1    42
0    33
Name: formacao, dtype: int64

In [ ]:
teste_y.value_counts()

1    14
0    11
Name: formacao, dtype: int64